---
import { FileMap } from '../../../components/fileRenderize/fileList';
import { Hash } from "../../../svg/hash";
import Layout from '../../../layouts/Layout.astro';

export const prerender = false;
export interface FileList {
  name: string;
  id: number;
}

const { type } = Astro.params;
console.log(type)
const files = await fetch(`http://localhost:3001/types/${type}`);
const fileList: FileList[] = (await files.json()) as FileList[];
console.log(fileList)
---

<Layout>
  <div>
    <h1 class="text-4xl flex items-center mb-8">
      <div>
        <Hash className="h-10 w-10" />
      </div>
      <div>
        Todas as notas de {type}
      </div>
    </h1>
  </div>
  <div>
    <ul class="text-lg flex flex-wrap gap-2">
      <FileMap files={fileList} />
    </ul>
  </div>
</Layout>
