---
import FileList from "../../../components/molecules/FileList.astro";
import { Hash } from "../../../svg/hash";
import Layout from '../../../layouts/Layout.astro';
import TextEditor from "../../../components/atoms/TextEditor.astro";
import ButtonConfirm from "../../../components/molecules/ButtonConfirm.astro";
import ModalHeader from "../../../components/molecules/ModalHeader.astro";
import Modal from "../../../components/nav/Modal.astro";
import Label from "../../../components/atoms/Label.astro";

export const prerender = false;
export interface FileList {
  name: string;
  id: number;
}

const { folder } = Astro.params;

const files = await fetch(`http://localhost:3001/note/${folder}`);
const fileList: FileList[] = (await files.json()) as FileList[];
---

<Layout>
  <div>
    <h1 class="text-4xl flex items-center mb-8">
      <div>
        <Hash className="h-10 w-10" />
      </div>
      <div>
        Todas as notas de {folder}
      </div>
    </h1>
  </div>
  <div>
    <ul id="fileList" class="text-lg flex flex-wrap gap-2">
      <FileList files={fileList} />
    </ul>
  </div>
  <Modal id='editModal'>
    <ModalHeader btnId="editClose" title="Editar Nota" />
    <Label target="editInput">
      Editor
    </Label>
    <TextEditor id="editInput" />
    <ButtonConfirm id='editConfirm' />
  </Modal>
</Layout>

<script src="../../../scripts/notesOptions.ts" ></script>
