---
import { AddFolder } from "../svg/AddFolder";
import { AddNote } from "../svg/AddNote";
import { Plus } from "../svg/Plus";
// components
import NavFolders from "./nav/NavFolders.astro";
import NavSection from "./nav/NavSection.astro";
import NavButton from "./nav/NavButton.astro";
import Modal from "./nav/Modal.astro";
import NavFoldersSelect from "./nav/NavFoldersSelect.astro";
import Label from "./atoms/Label.astro";
import MandatoryAdvice from "./atoms/MandatoryAdvice.astro";
import ButtonWithSvg from "./atoms/ButtonWithSvg.astro";
import ModalTitle from "./atoms/ModalTitle.astro";
import ButtonCloseModal from "./molecules/ButtonCloseModal.astro";
import TextEditor from './atoms/TextEditor.astro';

const folders = await fetch("http://localhost:3001/folders");
const folderArr = await folders.json();
---

<nav class="lg:w-[25vw] lg:gap-5 bg-[#151515] p-5 h-screen flex flex-col overflow-y-auto border-r border-[#5C5C5C]">
  <NavSection section="➕ Criar"/>

  <div class="flex flex-col lg:gap-2">
    <NavButton id="openFolderModal" content="Criar nova pasta" >
      <AddFolder />
    </NavButton>
    <NavButton id="openModal" content="Criar nova nota">
      <AddNote />
    </NavButton>
  </div>

  <NavSection section="📂  Pastas" />
  <ul class="w-full flex flex-col gap-3">
    <NavFolders folders={folderArr} />
  </ul>

  <Modal id="modal">
    <div class="flex items-center justify-between">
      <ModalTitle content="Criar Nota" />
      <ButtonCloseModal id="closeModal"/>
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <Label target='noteName'>
          <MandatoryAdvice content='Nome da nota'/> 
        </Label>
      </div>
      <input
        type="text"
        name=""
        id="noteName"
        placeholder="digite-o-nome-de-sua-nota"
        class="border border-slate-500 rounded-md outline-none w-full p-3"
      />
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <Label target='noteEditor'>
          <MandatoryAdvice content='Editor de notas (apenas Markdown)'/> 
        </Label>
      </div>
      <div>
        <TextEditor/>
      </div>
    </div>
    <div class="flex flex-col gap-3 p-2">
      <div>
        <Label target='folderTarget'>
          <MandatoryAdvice content='Escolha uma pasta' />
        </Label>
      </div>
      <div id="folderTarget" class="h-32">
        <NavFoldersSelect folderArr={folderArr} />
      </div>
    </div>
    <div class="w-24">
      <ButtonWithSvg 
        content="Criar" 
        id="createNote" 
        class="bg-green-600 rounded-md w-full shadow-sm px-2 py-1 flex gap-2 justify-start cursor-pointer"
      >
        <Plus/>
      </ButtonWithSvg>
    </div>
  </Modal>
  <Modal id="folderModal">
    <!-- Maybe, there is a possibility to extract this into component -->
    <div class="flex items-center justify-between">
      <ModalTitle content="Criar Nova Pasta" />
      <ButtonCloseModal id="closeFolderModal"/>
    </div>
    <div>
      <input 
        type="text" 
        name="" 
        id="folderNameInput"
        placeholder="Digite o nome da nova pasta"
        class="border border-slate-500 rounded-md outline-none w-full p-3"
      >
    </div>
    <div class="w-24">
      <ButtonWithSvg 
        content="Criar" 
        id="createFolderBtn" 
        class="bg-green-600 rounded-md w-full shadow-sm px-2 py-1 flex gap-2 justify-start cursor-pointer"
      >
      <Plus/>
    </ButtonWithSvg>
    </div>
  </Modal>
</nav>

<script>
  const closeModalBtn = document.querySelector('#openModal') as HTMLButtonElement;
  const modal = document.querySelector('#modal') as HTMLDivElement;

  closeModalBtn.addEventListener('click', () => {
      modal.classList.remove('hidden');
      modal.classList.add('flex');
  });
</script>
