---
import { AddFolder } from "../svg/AddFolder";
import { AddNote } from "../svg/AddNote";
import { Plus } from "../svg/Plus";
// components
import NavFolders from "./nav/NavFolders.astro";
import NavSection from "./nav/NavSection.astro";
import NavButton from "./nav/NavButton.astro";
import Modal from "./nav/Modal.astro";
import NavFoldersSelect from "./nav/NavFoldersSelect.astro";
import Label from "./atoms/Label.astro";
import MandatoryAdvice from "./atoms/MandatoryAdvice.astro";
import ButtonWithSvg from "./atoms/ButtonWithSvg.astro";
import ModalHeader from "./molecules/ModalHeader.astro";
import TextEditor from './atoms/TextEditor.astro';
import ButtonConfirm from "./molecules/ButtonConfirm.astro";
import ErrorAdvice from "./atoms/ErrorAdvice.astro";
import SuccessAdvice from "./atoms/SuccessAdvice.astro";

const folders = await fetch("http://localhost:3001/folders");
const folderArr = await folders.json();
---

<nav class="lg:w-[25vw] lg:gap-5 p-5 h-[98vh] flex flex-col overflow-y-auto border rounded-xl my-2 ml-2 bg-[#12111a] border-[#2E2E42]">
  <NavSection section="➕ Criar"/>

  <div class="flex flex-col lg:gap-2">
    <NavButton id="openFolderModal" content="Criar nova pasta" >
      <AddFolder />
    </NavButton>
    <NavButton id="openModal" content="Criar nova nota">
      <AddNote />
    </NavButton>
  </div>

  <NavSection section="📂  Pastas" />
  <ul id="navbar-folders" class="w-full flex flex-col gap-3">
    <NavFolders folders={folderArr} />
  </ul>

  <Modal id="modal">
    <ModalHeader btnId="closeModal" title="Criar Nota" />
    <div class="flex flex-col gap-2">
      <div>
        <Label target='noteName'>
          <MandatoryAdvice content='Nome da nota'/> 
        </Label>
      </div>
      <input
        type="text"
        name=""
        id="noteName"
        placeholder="digite-o-nome-de-sua-nota"
        class="border border-slate-500 rounded-md outline-none w-full p-3"
      />
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <Label target='noteEditor'>
          <MandatoryAdvice content='Editor de notas (apenas Markdown)'/> 
        </Label>
      </div>
      <div>
        <TextEditor id="noteEditor"/>
      </div>
    </div>
    <div class="flex flex-col gap-3 p-2">
      <div>
        <Label target='folderTarget'>
          <MandatoryAdvice content='Escolha uma pasta' />
        </Label>
      </div>
      <div id="folderTarget">
        <NavFoldersSelect folderArr={folderArr} />
      </div>
    </div>
    <div class="w-24">
      <ButtonWithSvg 
        content="Criar" 
        id="createNote" 
        class="bg-green-600 rounded-md w-full shadow-sm px-2 py-1 flex gap-2 justify-start cursor-pointer"
      >
        <Plus/>
      </ButtonWithSvg>
    </div>
  </Modal>
  <Modal id="folderModal" axisYisCentralized={true}>
    <ModalHeader btnId="closeFolderModal" title="Criar Pasta" />
    <div>
      <input 
        type="text" 
        name="" 
        id="folderNameInput"
        placeholder="Digite o nome da nova pasta"
        class="border border-slate-500 rounded-md outline-none w-full p-3"
      >
    </div>
    <div class="w-24">
      <ButtonWithSvg 
        content="Criar" 
        id="createFolderBtn" 
        class="bg-green-600 rounded-md w-full shadow-sm px-2 py-1 flex gap-2 justify-start cursor-pointer"
      >
      <Plus/>
    </ButtonWithSvg>
    </div>
  </Modal>
  <Modal id='editModal' axisYisCentralized={true}>
    <ModalHeader btnId="editClose" title="Editar Nota" />
    <Label target="editInput">
      Editor
    </Label>
    <TextEditor id="editInput" />
    <ErrorAdvice/>
    <SuccessAdvice/>
    <ButtonConfirm id='editConfirm' />
  </Modal>
</nav>
<script src="../scripts/navbar/index.ts"></script>
