---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"button">{
    content: string;
};

const { content, ...attr} = Astro.props;
---

<button {...attr}>
    <div>
        <!-- Svg is rendered here -->
        <slot/>
    </div>
    <div>
        {content}
    </div>
</button>