---
import { FileIcon } from "../../svg/FileIcon";
---
<div class="rounded-full shadow-md  bg-[#242424] border border-[#5C5C5C] lg:h-8 lg:w-8 flex items-center justify-center">
    <FileIcon className="w-full h-5 " />
</div>