---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<'label'> {
    target: string;
};

const { target, ...attr } = Astro.props;
---

<label {...attr} for={target}>
    <slot/>
</label>