---
import { Success } from "../../svg/Success";
---

<div id="modalSuccess" class="bg-green-500 text-white font-semibold border border-green-400 rounded-sm shadow-sm hidden items-center">
    <div>
        <Success/>
    </div>
    <div id="modalSuccessMessage">
        
    </div>
</div>