---
import { Success } from "../../svg/Success";
---

<div class="success-advice bg-green-600 text-white gap-3 font-medium border border-green-400 px-3 py-2 rounded-sm shadow-sm hidden items-center">
    <div>
        <Success/>
    </div>
    <div class="success-message">
        
    </div>
</div>