---
import type { HTMLAttributes } from 'astro/types';
import { Close } from '../../svg/Close';

interface Props extends HTMLAttributes<'button'> {}
const { ...attr } = Astro.props;
---
<div>
    <button { ...attr } class="cursor-pointer">
        <Close/>
    </button>
</div>