---
interface Props {
    content: string;
    id: string;
};

const { content, id } = Astro.props;
---

<div class={`bg-[#121212] lg:px-3 lg:py-2 w-full border border-[#2e2e2e] rounded-lg shadow-sm hover:bg-[#242424] active:bg-[#2e2e2e] transition-colors`}>
    <button id={id} class="flex gap-2 items-center cursor-pointer">
      <div>
        <slot/>
      </div>
      <div>{content}</div>
    </button>
</div>