---
interface Props {
    content: string;
    id: string;
};

const { content, id } = Astro.props;
---

<div class={`group lg:px-3 lg:py-2 w-full rounded-lg hover:bg-[#00d0ff53] active:bg-[#00d0ff90] transition-colors`}>
    <button id={id} class="flex gap-2 items-center cursor-pointer">
      <div>
        <slot/>
      </div>
      <div>{content}</div>
    </button>
</div>