---
import Label from '../atoms/Label.astro';
import type { folderObject } from './NavFolders.astro';

interface Props {
    folderArr: folderObject[];
};

const { folderArr } = Astro.props;
---

<ul class="flex gap-3 flex-wrap h-32 justify-start w-full overflow-y-auto">
    {folderArr.map((folder: folderObject) => {
        return (
          <li class="h-fit">
            <input
              type="radio"
              name="folder"
              id={folder.name}
              value={String(folder.folder_id)}
              class="hidden peer"
            />
            <Label 
              target={folder.name}
              class="peer-checked:text-blue-400 rounded-md"
            >
              📂 {folder.name}
            </Label>
          </li>
        );
    })}
</ul>